footer {
	position: relative;
	bottom: 0px;
	background: var(--lightest-gray);
	height: 50px;
	width: 100%;
	padding: var(--sm);
}

footer p {
	text-align: center;
}

@media (min-width: 768px) {
	footer {
		padding: var(--md);
	}
}
