.experienceContainer {
	background: var(--lightest-gray);
}
.experienceContainer > section {
	margin: 16px auto;
}
.hourglass {
	height: 50px;
	margin-left: 8px;
}
.sectionTitleContainer {
	display: flex;
	align-items: center;
	padding: 8px;
}
.sectionTitleContainer > h3 {
	font-size: var(--small-2);
}
@media (min-width: 768px) {
	.sectionTitleContainer {
		padding: 16px;
	}
	.sectionTitleContainer > h3 {
		font-size: var(--large-2);
	}
}
